//  ===============
//  Color Variables
//  ===============
$light-gray: #D8DBDEFF;
$dark-gray: rgb(72, 72, 72);
$close: #ff4500;

//  ============
//  Breackpoints
//  ============
$breakpoints: (
        'mobile'  : 320px,
        'tablet'  : 768px,
        'desktop' : 1024px,
);

//  =====
//  Fonts
//  =====
$base-font: 'Montserrat', sans-serif;