//  Cards
//  =====

.card {
  display: flex;
  padding: 15px;
  border: 1px solid $light-gray;
  border-radius: 10px;
  transition: transform .25s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.avatar {
  border-radius: 50%;
}

.text-container {
  padding-left: 10px;
  font-family: 'Roboto Condensed', sans-serif;

  & h2 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
  }

  & p {
    font-size: 13px;
    color: #777788;
    font-weight: lighter;
  }
}

.email {
  word-wrap: break-word;
}